.about {
    padding: 20px;
}

.title {
    margin-bottom: 15px;
}

.title__name {
    color: #000;
    font-family: "Poppins", sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.title__position {
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: $color-hover;
}

.personal-profile {
    margin-bottom: 17px;
}

.about-title {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    border-bottom: 1px solid #000;
    margin-right: -20px;
    margin-bottom: 10px;
}

.personal-profile__text {}

.work-experience {}

.work-list {}

.work-item {}

.work-title {}

.position-name {}

.position-data {}

.work-item__description {}

.education {}

.education-list {}

.education-item {}

.education-name {}

.edu-description {}

.edu-name {}

.edu-data {}